html, body {
    height: 100%;
  }
.container{
    display: flex;
    
}
.container .solBar{
    width: 270px;
    height: 100%;
    background-color: #222831;
}
.container .solBar .logo{
    width: 270px;
    height: 100px;
    text-align: center;
    
}
.container .solBar .logo .resim{
    height:100px;
    width:180px;
    
}
.container .solBar .menuBar{
    width: 270px;
    height: 206vh;
   
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 270px;
    height: 100%;
    
    
}
  
li a{
    display: block;
    color: cadetblue;
    padding: 8px 16px;
    text-decoration: none;
    font-family:Century;
    font-style:oblique;
    font-weight: bold;
    margin-bottom: 35px;
}
  
li a.active{
    background-color: cadetblue;
    color: black;
    font-family:Century;
    font-style:oblique;
    font-weight: bold;
}
  
li a:hover:not(.active){
    background-color: #00adb5;
    color: white;
    
}
.container .content{
    width: 100%;
    height: 220vh;
    background-color: #393e46;
}
.container .content .ustYazi {
    height: 30px;
    border-block-end: #eeeeee;
    border-block-end-style:solid;
    display:flex;
    
    
}


.container .content .ustYazi .yazii{
    font-family:Century;
    
    font-weight: bold;
    font-size: 18px;
    margin:5px;
    color: #eeeeee;
}
.giriscontent{
    width: 100%;
    height: 109vh;
    
}
.kutu1{
    width: 350px;
    height: 150px;
    background-color: #53565a;
    margin: 50px;
    border-radius: 10px;
}
.kutu2{
    width: 350px;
    height: 150px;
    background-color: #53565a;
    margin: 50px;
    margin-left: 380px;
    border-radius: 10px;
}
.a1u{
    width: 350px;
    height: 50px;
    color: #eeeeee;
    align-items: flex-end;
    text-align: right;
    font-family:Century;
    font-size: 18px;
    border-block-end-style: solid;
    border-block-start-color: #eeeeee;
    
}
.a1a{
    display: flex;
}
.a1up{
    padding: 10px;

}
.a1ar{
    width: 100px;
    height:100px;
    
}
.a1ac{
    width: 250px;
    height: 100px;
    color: #eeeeee;
    align-items: flex-end;
    text-align: right;
    font-family:Century;
    font-size: 30px;
    font-weight: bold;
}
.ustcontent{
    display: flex;
    
}
.altcontent{
    text-align: center;
    width: 100%;
    height:600px;
}
.harita{
    width: 850px;
    height: 600px;
    margin-left: 200px;
    border: 5px solid cadetblue;
    border-radius: 12px;
    padding: 5px;
    color: #eeeeee;
    background-color: #53565a;
}
.altaltcontent{
    
    width: 100%;
    height:420px;
    margin-top: 80px;
}
.otelgrafik{
    
        width: 800px;
        height: 400px;
        margin-left: 220px;
        border: 5px solid cadetblue;
        border-radius: 12px;
        padding: 5px;
        color: #eeeeee;
        background-color: #53565a;
        
    
}
.otelaltcontent{
    width: 100%;
    
    margin-top: 40px;
    display: flex;
}
.otelcontent1{
    width: 350px;
    height: 150px;
    background-color: #53565a;
    margin-left: 45px;
    border-radius: 10px;
    
}
.otelcontent2{
    width: 350px;
    height: 150px;
    background-color: #53565a;
    margin-left: 45px;
    border-radius: 10px;
    text-align:center;
}
.otelcontent3{
    width: 350px;
    height: 150px;
    background-color: #53565a;
    margin-left: 45px;
    border-radius: 10px;
    text-align:center;
}
.otelform{
    display: flex;
}
.otelgoruntule{
    display: grid;
    margin-left: 20px;
}
.button{
    
        background-color: #eeeeee;
        border: none;
        color: black;
        font-weight: bold;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 25px;
        margin-top: 20px;
        transition: all 0.5s; 
     
}
.otelad{
    width: 170px;
    height: 80px;
    background-color: cadetblue;
    border-radius: 20px;
    text-align: center;
    margin-left: 15px;
    font-weight: bold;
    color:#eeeeee;
}
.eskicontent{
    display: flex;
}
.eskiturgrafik1{
    width: 600px;
    height: 400px;
    background-color: #53565a;
    border: 5px solid cadetblue;
    margin:30px;
    border-radius: 20px;

}
.bu1c{
    
    justify-content: center;
}

.eskiturgrafik2{
    width: 400px;
    height: 300px;
    background-color: #53565a;
    border: 5px solid cadetblue;
    margin:30px;
    border-radius: 20px;
    
}
.eskiturgrafik3{
    width: 900px;
    height: 300px;
    background-color: #53565a;
    border: 5px solid cadetblue;
    margin:30px;
    border-radius: 20px;
    
}
.turcontent{
    display: flex;
}
.turform{
    width: 700px;
    height: 400px;
    background-color: #53565a;
    border: 5px solid cadetblue;
    margin:30px;
    border-radius: 20px;

}
.turgrafik1{
    width: 400px;
    height: 400px;
    background-color: #53565a;
    border: 5px solid cadetblue;
    margin:30px;
    border-radius: 20px;

}
.turcontentalt{
    display: grid;
    justify-content: center;
}
.turform2{
    width: 800px;
    height: 400px;
    background-color: #53565a;
    border: 5px solid cadetblue;
    margin:30px;
    border-radius: 20px;
    

}
.turform3{
    width: 800px;
    height: 400px;
    background-color: #53565a;
    border: 5px solid cadetblue;
    margin:30px;
    border-radius: 20px;
    

}
.musterigrafik{
    width: 350px;
    height: 300px;
    background-color: #53565a;
    border: 5px solid cadetblue;
    margin:25px;
    border-radius: 20px;

}
.musterigrafik2{
    width: 350px;
    height: 300px;
    background-color: #53565a;
    border: 5px solid cadetblue;
    margin:25px;
    border-radius: 20px;

}
.mustericontent{
    display: flex;
}

.turlarimizcontent{
    display: grid;
    justify-content: center;
}

.turlarimiztablo{
    width: 1000px;
    height: 400px;
    background-color: #53565a;
    border: 5px solid cadetblue;
    margin:30px;
    border-radius: 20px;

}
.turlarimiztablo2{
    width: 710px;
    height: 400px;
    background-color: #53565a;
    border: 5px solid cadetblue;
    margin:30px;
    border-radius: 20px;
    margin-left: 170px;
    justify-content: center;
}

.musterigirisi{
    width:250px; height:50px; background-color:#eeeeee; margin-left: 18px; border-radius:10px;
}
.buttonn{
    
    background-color: #eeeeee;
    border: none;
    color: black;
    font-weight: bold;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 20px;
    transition: all 0.5s; 
    
 
}
.formmm{
    justify-content: center;
}
.eu1c{
    justify-content: center;
}
.turlarimiztablo3{
    width: 300px;
    height: 400px;
    background-color: #53565a;
    border: 5px solid cadetblue;
    margin:30px;
    border-radius: 20px;
    margin-left: 170px;
    justify-content: center;
    margin-left: 330px;
    text-align: center;
}
.asdasd{
    font-family:Century;
    font-size: 30px;
    font-weight: bold;
}
.cu2c{
    text-align: center;
    justify-content: center;

}
.formm{
    margin-top: 20px;
    
}